<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Meeting Summarizer</title>
</head>
<body>
    <h1><a href="{{ url_for('upload_file') }}">Meeting Summarizer</a></h1>
    <h2>Generated Summary:</h2>
    <div id="summary">
        {{ summary | safe }}
    </div>
    <h2>Audio File:</h2>
    <audio controls>
        <source src="{{ audio_url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</body>
</html>
